@{
    ViewBag.Title = "Index";
}
<script language="javascript" type="text/javascript">
    $(function () {

        $('#dd').form({
            url: '@Url.Content("~/Test/GetFormData")',
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (data) {
                alert(data);
            }
        });
    });
</script>


<h2>Index</h2>
<form id="dd" method="post">
    <table>
                <tr>
                    <td>Name:</td>
                    <td><input name="name" type="text"></input></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input name="email" type="text"></input></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input name="phone" type="text"></input></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit"></input></td>
                </tr>
            </table>
</form>