<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!-- add your targets here -->
    <target xsi:type="Database" name="DBOPLog" connectionString="Data Source=.;Initial Catalog=YOYOHR;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True" >
      <dbProvider>System.Data.SqlClient</dbProvider>
      <commandText>
        INSERT INTO [TB_operationlog]
        ([c_UserID]
        ,[c_UserCode]
        ,[c_TimeStamp]
        ,[c_ControllerName]
        ,[c_ActionName]
        ,[c_OperationDesc]
        ,[c_LogMessage]
        ,[c_ClientHost]
        ,[c_ClientIP]
        ,[c_OperationSql]
        ,[c_CorporateID]
        )
        VALUES
        (@UserID
        ,@UserCode
        ,@TimeStamp
        ,@ControllerName
        ,@ActionName
        ,@OperationDesc
        ,@LogMessage
        ,@ClientHost
        ,@ClientIP
        ,@OperationSql
        ,@CorporateID
        );
      </commandText>
      <parameter name="@UserID" layout="${event-context:item=userID}" />
      <parameter name="@UserCode" layout="${event-context:item=userCode}" />
      <parameter name="@Timestamp" layout="${date}" />
      <parameter name="@ControllerName" layout="${event-context:item=controllerName}" />
      <parameter name="@ActionName" layout="${event-context:item=actionName}" />
      <parameter name="@OperationDesc" layout="${event-context:item=operationDesc}" />
      <parameter name="@LogMessage" layout="${event-context:item=logMsg}" />
      <parameter name="@ClientHost" layout="${event-context:item=clientHost}" />
      <parameter name="@ClientIP" layout="${event-context:item=clientIP}" />
      <parameter name="@OperationSql" layout="${event-context:item=lastSql}" />
      <parameter name="@CorporateID" layout="${event-context:item=corporateID}" />
    </target>

    <target xsi:type="Database" name="DBExceptionLog" connectionString="Data Source=.;Initial Catalog=YOYOHR;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True" >
      <dbProvider>System.Data.SqlClient</dbProvider>
      <commandText>
        INSERT INTO [YoYoHR].[dbo].[TB_ExceptionLog]
           ([c_UserID]
           ,[c_UserCode]
           ,[c_TimeStamp]
           ,[c_ControllerName]
           ,[c_ActionName]
           ,[c_OperationDesc]
           ,[c_ExceptionMessage]
           ,[c_AllXML]
           ,[c_OperationSql]
           ,[c_ClientHost]
           ,[c_ClientIP]
           ,[c_CorporateID]
           )
     VALUES
           (@UserID
           ,@UserCode
           ,@TimeStamp
           ,@ControllerName
           ,@ActionName
           ,@OperationDesc
           ,@ExceptionMessage
           ,@AllXML
           ,@OperationSql
           ,@ClientHost
           ,@ClientIP
           ,@CorporateID
           );
      </commandText>
      <parameter name="@UserID" layout="${event-context:item=userID}" />
      <parameter name="@UserCode" layout="${event-context:item=userCode}" />
      <parameter name="@TimeStamp" layout="${date}" />
      <parameter name="@ControllerName" layout="${event-context:item=controllerName}" />
      <parameter name="@ActionName" layout="${event-context:item=actionName}" />
      <parameter name="@OperationDesc" layout="${event-context:item=operationDesc}" />
      <parameter name="@ExceptionMessage" layout="${event-context:item=exceptionMsg}" />
      <parameter name="@AllXML" layout="${event-context:item=allXml}" />
      <parameter name="@ClientHost" layout="${event-context:item=clientHost}" />
      <parameter name="@ClientIP" layout="${event-context:item=clientIP}" />
      <parameter name="@OperationSql" layout="${event-context:item=lastSql}" />
      <parameter name="@CorporateID" layout="${event-context:item=corporateID}" />
    </target>
        
    <target xsi:type="Console" name="consolelog" layout="${longdate}|${level}|${message}"/>
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="DBOPLog" />
    <logger name="*" minlevel="Error" writeTo="DBExceptionLog" />
    <logger name="*" maxlevel="Trace" writeTo="consolelog" />
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>