@{
	ViewBag.Title = "ChangePassword";
	var currentuser = YOYO.HRMS.MVC.CurrentParemeter.GetCurrentUser();
    Layout = null;
}

<script language="javascript" type="text/javascript">
    $(function () {
        parent.$.messager.progress('close');
    });
</script>

<div id="EditPassword" class="easyui-layout" data-options="fit:true,border:false" title="ss">
		<div data-options="region:'center',border:false" title="" style="overflow: hidden;">
			<form id="editUserPwdForm" method="post">
				<table class="table table-hover table-condensed" width="300">
					<tr>
						<th width="100">登录名</th>
						<td >@currentuser.UserCode</td>
					</tr>
					<tr>
						<th>原密码</th>
						<td><input name="oldPwd" type="password" placeholder="请输入原密码" class="easyui-validatebox" data-options="required:true"></td>
					</tr>
					<tr>
						<th>新密码</th>
						<td><input name="pwd" type="password" placeholder="请输入新密码" class="easyui-validatebox" data-options="required:true"></td>
					</tr>
					<tr>
						<th>重复</th>
						<td><input name="rePwd" type="password" placeholder="请再次输入新密码" class="easyui-validatebox" data-options="required:true,validType:'eqPwd[\'#editCurrentUserPwdForm input[name=pwd]\']'"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
