@{
	ViewBag.Title = "ChangePassword";
	var currentuser = YOYO.HRMS.MVC.CurrentParemeter.GetCurrentUser();
    Layout = null;
}

<script language="javascript" type="text/javascript">
    $(function () {
        parent.$.messager.progress('close');
        $('#editUserPwdForm').form({
                            url: '@Url.Content("~/SystemManagement/UserManage/ChangeUserPassword")',
                            onSubmit: function () {
                                var isValid = $(this).form('validate');
                                if (!isValid) {
                                }
                                return isValid;
                            },
                            success: function (result) {
                                var result = $.parseJSON(result);
                                if (result.IsError) {
                                    $.messager.alert('@T("Error",true)', result.Message, 'error');
                                    return false;
                                }
                                else {
                                    $(this).form('clear');
                                    parent.$.modalDialog.handler.dialog('close');
                                    parent.$.messager.alert('@T("Info",true)', result.Message, 'info');
                                }
                            }
                        });                    
    });
</script>

<div id="EditPassword" class="easyui-layout" data-options="fit:true,border:false" title="ss">
		<div data-options="region:'center',border:false" title="" style="overflow: hidden;">
			<form id="editUserPwdForm" method="post">
				<table class="table table-hover table-condensed" width="300">
					<tr>
						<th width="100">登录名</th>
						<td >@currentuser.UserCode</td>
					</tr>
					<tr>
						<th>原密码</th>
						<td><input name="oldPassword" type="password" @*placeholder="请输入原密码"*@ class="easyui-validatebox" data-options="required:true"></td>
					</tr>
					<tr>
						<th>新密码</th>
						<td><input name="newPassword" type="password" @*placeholder="请输入新密码"*@ class="easyui-validatebox" data-options="required:true"></td>
					</tr>
					<tr>
						<th>重复</th>
						<td><input name="renewPassword" type="password" @*placeholder="请再次输入新密码"*@ class="easyui-validatebox" data-options="required:true,validType:'eqPwd[\'#editUserPwdForm input[name=newPassword]\']'"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
