@section head{
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#en-US').click(
                function () {
                    $('#localeFile').;
                }
            )
        });
    </script>
}

<h2>TabIndex</h2>
<input id="en-US" type="button" value="en-US" />